@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		font-size: 16px;
		line-height: 24px;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;

		font-feature-settings: 'salt' on;

		overflow: hidden;

		/* Default Theme */
		--theme-50: 244 245 250;
		--theme-100: 229 229 244;
		--theme-200: 209 210 236;
		--theme-300: 177 180 223;
		--theme-400: 139 142 207;
		--theme-500: 114 112 193;
		--theme-600: 101 93 179;
		--theme-700: 92 80 160;
		--theme-800: 82 71 134;
		--theme-900: 67 60 108;
		--theme-prominant: 92 80 160;
		--theme-average: 92 80 160;
	}

	@font-face {
		font-family: 'Satoshi';
		src: url('/fonts/Satoshi-Variable.woff2') format('woff2 supports variations'),
			url('/fonts/Satoshi-Variable.woff2') format('woff2-variations');
		font-weight: 100 1000;
	}
}
